@import './../../style/extends';

.CategorySlider {
  padding-inline: 88px;
  // display: flex;
  // flex-direction: column;
  // gap: 48px;
  &__title {
    @extend %h2;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 56px;
    margin-left: 56px;
  }

  &__slides {
    margin-top: 48px;
  }
}
