@import './../../../style/mixins';
@import './../../../style/extends';

.GoTopBtn {
  position: absolute;
  left: 95%;
  top: 10%;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  border: 1px solid $white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include hover(transform, scale($scaleSize));
}
