@import './../../style/extends';

.ProfilePage {
  padding-block: 80px;
  
  &__top {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__title {
    @extend %h3;
  }

  &__form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    align-items: center;
    margin-top: 48px;
  }

  &__image {
    height: 140px;
    width: 140px;
    object-fit: cover;
    object-position: top;
  }
}
