@import './../../style/extends';
@import './../../style/mixins';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border-bottom: 1px solid $headerLineColor;
  padding-inline: 90px;

  &__icons {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__icon {
    height: 24px;
    width: 24px;
    cursor: pointer;

    @include hover(transform, scale($scaleSize));

    @extend %icon;

    &--heart {
      background-image: url('./../../assets/icons/heart.svg');
    }

    &--user{
      background-image: url('./../../assets/icons/user.svg');
    }
  }
}
