//colors
$dark: #333333;
$white: #FFF;
$grey: #717171;
$lightGrey: #F4F4F4;
$lightLightGrey: #FBFBFB;
$iconKeeperColor: #6a6969;
$headerLineColor: #999;
$accentColor:#FF7426;

//widths
$bigDesktop: 1400px;

//fonts
$HelveticaNeue: '';

