@import './../../../style/mixins';

.Logo {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: $dark;
  cursor: pointer;

  @include hover(transform, scale($scaleSize));

  &--bottom {
    color: $white;
  }

  &__dot {
    color: $accentColor;
  }
}
