@import './style/mixins';
@import './style/reset';
@import './style/extends';

.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: $dark;

  &__main {
    @include inline-padding-control;
  }
}

