@import './../../../style/extends';

.ReviewCard {
  background-color: $white;
  padding: 24px;

  &__top {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @extend %h5;
  }

  &__text {
    text-align: start;

    @extend %body-text;

    &--margin {
      margin-top: 16px;
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
  }

  &__date {
    @extend %smallest-text;
  }
}
